numpy==1.21.4
torch==1.13.1
torchvision==0.11.3
keras==2.8.0
matplotlib==3.5.0
tensorflow==2.8.0
tensorboardX==2.4.1
gym==0.21.0
rawls==1.1.7
ipfml==1.0.5
pytorch-msssim==0.2.1
pandas==1.3.5
munch==2.5.0
scikit-image==0.18.3
scikit-learn==1.0.1